html {
  font-size: 62.5%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1.6rem;
  height: 100%;
  position: relative;
}

body,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.camera {
  background-color: #000;
  flex: 1 1 50%;
  /* height: 100%; */
  position: relative;
  /* width: 100%; */
}

.camera__error {
  color: #fff;
  margin: 0 auto;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 80%;
}

.camera__screen {
  visibility: hidden;
  height: 100%;
  width: 100%;
}
.camera__screen--show {
  visibility: visible;
}

.canvas {
  background-color: orange;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
}

.control-bar {
  align-content: center;
  background-color: #000;
  border-top: 1px solid #333;
  bottom: 0;
  display: flex;
  flex: 0 0 7rem;
  justify-content: space-evenly;
  left: 0;
  height: 7rem;
  /* position: fixed; */
  width: 100%;
}

.control-bar__btn-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.control-bar__btn-container--left {
  justify-content: flex-start;
}

.control-bar__btn-container--middle {
  justify-content: center;
}
.control-bar__btn-container--right {
  justify-content: flex-end;
}

.control-bar__btn {
  border-radius: 0;
  height: 100%;
  width: 100%;
}


.control-bar__btn--capture {
  align-self: center;
  align-content: center;
  background-color: transparent;
  border: .5rem solid #fff;
  border-radius: 50%;
  display: flex;
  height: 5rem;
  justify-content: center;
  position: relative;
  width: 5rem;
}

.control-bar__btn--capture::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  /* position: absolute; */
  width: 3.5rem;
  height: 3.5rem;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  /* z-index: 2; */
}

.control-bar__btn--capture:active::after{
  background-color: #ccc;
}
